<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="/styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h2 class="heading">
        <div>T</div>
        <div>h</div>
        <div>e</div>
        <div>w</div>
        <div>a</div>
        <div>y</div>
    </h2>
    <div class="road"></div>
</head>
<body>
    <div class="container1">
        <div class="signup">
            <form action="/submit" method="post">
                <input class="inp1" type="text" placeholder="Name" name="username" required>
                <input class="inp1" type="text" placeholder="Skill" name="skill" required>
                <input class="inp1" type="password" placeholder="Password" name="passkey" required>
                <input class="inp1" type="email" placeholder="Email" name="mail" required>
                <input class="submit" type="submit" value="signup">
            </form>
            <form action="/login" method="post">
                <input class="login" type="submit" value="login">
            </form>
            
        </div>
      
    </div>
    <div class="logo">
        <div class="c1"></div>
        <div class="c2"></div>
    </div>
</body>
</html>